*{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 100%);
}

/* animazione card */
.card:hover{
    transform: scale(1.02);
    box-shadow: 2px 3px 10px 0px #0000003c;
}

/* immagine card */
.card img{
    height: 350px;
    object-fit: cover;
}

/* descrizione card */
.card-text{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* bottone info */
.inf{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.491);
}

.inf:hover {
    color: black;
    transform: scale(1.1);
}

/* footer */
#icon-social li {
    font-size: 1.3rem;
    list-style: none;
    padding: 10px;
}

#icon-social li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#link-footer li{
    list-style: none;
    padding: 10px;
}

#link-footer li:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.627);
}

/* navbar per desktop */
@media screen and (min-width: 576px){
    #title{
        font-weight: 400;
        color: white;
        display: block;
        padding: 150px 20px;
        background-position: bottom;
        background-image: url(https://static.zara.net/photos///contents/mkt/spots/ss23-north-man-new/subhome-xmedia-23//w/1920/IMAGE-landscape-fill-d7333672-c806-4136-b61c-de8a167a1f9d-default_0.jpg?ts=1686301557464);
    }
    #btn-login {
        position: absolute;
        right: 10px;
        top: 12px;
    }
    #logo {
        position: absolute;
        left: 15px;
        top: 5px;
    }
}

/* navbar per dispositivi mobili */
@media screen and (max-width: 575px){
    nav {
        background-color: #212529;      
    }
    #logo{
        display: inline-block;
    }
    #btn-login{
        position: absolute;
        right: 0;
    }
    #title{
        background-color: #212529;     
        box-shadow: 0px 5px 10px 3px #212529;
        color: white;
        padding: 15px 10px;
        font-size: 1.3rem;
    }
}
